.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
.idea
*.zip
.vscode
.ftpconfig
dist_tpc
wehotelapp/
/src/common/env.js
dist-botao/
dist-jinjiang/
/prod-botao
/prod-jinjiang/
